@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body,
.card-body {
  background-color: #fff;
}

nav {
  justify-content: center;
}

nav img {
  width: 150px;
  margin-right: 50px;
}

nav ul li {
  margin: 0 10px;
  font-size: 15px;
  font-weight: bold;
}

nav .form-control {
  /* width: 300px; */
  font-size: 14px;
}

.menu .card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #f4f4f4;
  border: 0;
}

.receipt {
  position: sticky;
  top: 0;
  height: 100%;
  overflow: auto;
}

.receipt .card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-title,
.card-body {
  background-color: #f4f4f4;
}

.card-body {
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 12px;
  margin-bottom: 5px;
}

.card-title,
#addToCart {
  font-size: 12px;
}

.price {
  font-size: 10.5px;
}

.img-fluid {
  width: 150px;
}

.deleteThisMeal {
  padding: 0 6px;
  margin-left: 10px;
  border: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
}
